* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
  font-family: "Lato", system-ui;
}
/* navbar start */
#navbar {
  background: #f9f9f9;
  padding: 0 100px;
}
#logo {
  font-size: 36px;
  font-weight: 700;
  color: black;
  text-shadow: 0px 1px 1px black;
  margin-bottom: 5px;
}
#logo span {
  color: orange;
}
.navbar-toggler span {
  color: orange;
}
.navbar-nav {
  margin-left: 20px;
}
.nav-item .nav-link {
  font-size: 16px;
  font-weight: 550;
  color: black;
  letter-spacing: 1px;
  border-radius: 8px;
  transition: 0.5s ease;
}
.nav-item .nav-link:hover {
  color: white;
  background: orange;
}
#navbar form button {
  background: orange;
  color: white;
  border: none;
}

/* navbar end */
/* home section start  */
.home {
  width: 100%;
  height: 80vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2)),
    url(./img/bgimage.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.home .content {
  text-align: center;
  padding-top: 200px;
}
.home .content h5 {
  color: #fff;
  font-size: 38px;
  font-weight: 500;
  text-shadow: 0px 1px 1px #000;
}
.home .content h1 {
  color: #fff;
  font-size: 70px;
  font-weight: 600;
  text-shadow: 0px 1px 1px #000;
  margin-top: 5px;
}
.changecontent::after {
  content: " ";
  color: orange;
  text-shadow: 0px 1px 1px #000;
  animation: changetext 10s infinite linear;
}
@keyframes changetext {
  0% {
    content: "Gilan";
  }
  10% {
    content: "Arak";
  }
  20% {
    content: "Kashan";
  }
  30% {
    content: "Hamadan";
  }
  40% {
    content: "Isfahan";
  }
  50% {
    content: "Kurdistan";
  }
  60% {
    content: "Lurdistan";
  }
  70% {
    content: "Malayer";
  }
  80% {
    content: "Yazd";
  }
  90% {
    content: "Tehran";
  }
}
.home .content p {
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  text-shadow: 0px 1px 1px #000;
  margin-top: 5px;
  margin-bottom: 30px;
}
.home .content a {
  padding: 10px;
  background: #fff;
  color: #000;
  letter-spacing: 2px;
  font-weight: 550;
  font-size: 18px;
  border-radius: 8px;
  transition: 0.5s;
  text-decoration: none;
}
.home .content a:hover {
  background: orange;
  color: #fff;
}
@media (max-width: 850px) {
  .home {
    background-position: 50%;
  }
}
@media (max-width: 450px) {
  .home .content h5 {
    font-size: 25px;
  }
  .home .content h1 {
    font-size: 38px;
  }
  .home .content p {
    font-size: 13px;
  }
}
/* home section end  */
/* section book start  */
.book {
  background: #f9f9f9;
  padding: 50px;
}
.main-text h1 {
  font-weight: 750;
  text-align: center;
  color: orange;
  text-shadow: 0px 8px 8px rgb(0, 0, 0);
}
.main-text h1 span {
  color: #000;
}
.book .row {
  margin-top: 30px;
}
.book .card {
  border-radius: 10px;
  box-shadow: 0px 5px 5px -6px #000;
}
.book form input {
  padding: 10px;
  color: #000;
  border: none;
  outline: none;
  font-size: 15px;
  border-radius: 10px;
  box-shadow: 0px 5px 5px -6px #000;
}
.book form textarea {
  height: 200px;
  border: none;
  border-radius: 10px;
  resize: none;
  box-shadow: 0px 5px 5px -6px #000;
}
.book .submit {
  width: 160px;
  font-size: 16px;
  font-weight: 550;
  background: orange;
  color: #fff;
  margin-top: 10px;
  transition: 0.5s;
}
.book .submit:hover {
  width: 170px;
}
@media (max-width: 765px) {
  .book {
    padding: 0;
  }
  .main-text h1 {
    padding: 20px;
  }
}
/* section book end  */
/* section package start  */
.main-txt h1 {
  text-align: center;
  margin-top: 30px;
  font-weight: 600;
  text-shadow: 0px 1px 1px #000;
}
.main-txt h1 span {
  color: orange;
}
.packages .card {
  border-radius: 5px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.packages .card img {
  border-radius: 5px;
  height: 25vh;
}
.packages .card .card-body {
  background: transparent;
}
.packages .card .card-body h3 {
  font-size: 25px;
  font-weight: 600;
}
.packages .card .card-body p {
  font-size: 15px;
}
.checked {
  color: orange;
}
.star i {
  font-size: 15px;
}
.packages .card .card-body h6 {
  font-size: 20px;
  margin-bottom: 20px;
}
.packages .card .card-body a {
  padding: 10px;
  text-decoration: none;
  background: orange;
  color: #fff;
  border-radius: 5px;
}
/* section package end  */
/* section services start  */
.services {
  background: #fff;
  margin-top: 50px;
}
.services .card {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border: none;
  cursor: pointer;
}
.services .card i {
  font-size: 80px;
  text-align: center;
  color: orange;
  margin-top: 20px;
}
.services .card .card-body {
  text-align: center;
}
.services .card .card-body h3 {
  font-weight: 600;
}

/* section services end  */
/* section gallery start */
.gallery {
  margin-top: 50px;
}
.gallery .card {
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  cursor: pointer;
}
.gallery .card img {
  height: 25vh;
  border-radius: 10px;
  transition: 0.5s;
}
.gallery .card img:hover {
  transform: scale(1.1);
}
/* section gallery end */
/* about start */
.about {
  margin-top: 50px;
  background: #f9f9f9;
  padding: 50px;
}
.about .card {
  border-radius: 10px;
}
.about h2 {
  font-weight: 600;
  letter-spacing: 500;
}
.about p {
  font-weight: 500;
}
.about-btn {
  width: 150px;
  height: 38px;
  border: none;
  border-radius: 5px;
  background: orange;
  color: #fff;
  letter-spacing: 2px;
  font-weight: 550;
  transition: 0.5s ease;
  cursor: pointer;
  margin-top: 50px;
}
.about-btn:hover {
  width: 170px;
}
@media (max-width: 765px) {
  .about {
    padding: 0;
  }
}
/* about end */
/* footer start */
.footer {
  width: 100%;
  margin-top: 150px;
  text-align: center;
  background: #f9f9f9;
}
.footer h1 {
  font-weight: 600;
  padding-top: 30px;
  text-shadow: 0px 0px 1px black;
}
.footer h1 span {
  color: orange;
}
.social-links i {
  padding: 10px;
  border-radius: 15px;
  font-size: 20px;
  background: #000;
  color: #fff;
  margin-left: 10px;
  margin-bottom: 10px;
  transition: 0.5s ease;
  cursor: pointer;
}
.social-links i:hover {
  background: orange;
  color: #000;
}
/* footer end */
